--
-- PostgreSQL database dump
--

\restrict EBcgCJh1fcXZ5xgUrImfGfbKrCdCw2kVrG1CKu1QuIJEaM6pZg9XWtlcwT8plxn

-- Dumped from database version 16.10 (Debian 16.10-1.pgdg13+1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: speednews
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO speednews;

--
-- Name: citext; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS citext WITH SCHEMA public;


--
-- Name: EXTENSION citext; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION citext IS 'data type for case-insensitive character strings';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: app_user; Type: TABLE; Schema: public; Owner: speednews
--

CREATE TABLE public.app_user (
    id bigint NOT NULL,
    email public.citext NOT NULL,
    password_hash text NOT NULL,
    phone character varying(20),
    email_verified boolean DEFAULT false NOT NULL,
    enabled boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    name character varying(100) DEFAULT '?ъ슜??::character varying NOT NULL
);


ALTER TABLE public.app_user OWNER TO speednews;

--
-- Name: app_user_id_seq; Type: SEQUENCE; Schema: public; Owner: speednews
--

CREATE SEQUENCE public.app_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.app_user_id_seq OWNER TO speednews;

--
-- Name: app_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: speednews
--

ALTER SEQUENCE public.app_user_id_seq OWNED BY public.app_user.id;


--
-- Name: email_verification; Type: TABLE; Schema: public; Owner: speednews
--

CREATE TABLE public.email_verification (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    token character varying(512) NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    used boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    code character varying(6) DEFAULT '000000'::character varying NOT NULL,
    verified boolean DEFAULT false NOT NULL
);


ALTER TABLE public.email_verification OWNER TO speednews;

--
-- Name: email_verification_id_seq; Type: SEQUENCE; Schema: public; Owner: speednews
--

CREATE SEQUENCE public.email_verification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.email_verification_id_seq OWNER TO speednews;

--
-- Name: email_verification_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: speednews
--

ALTER SEQUENCE public.email_verification_id_seq OWNED BY public.email_verification.id;


--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: speednews
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO speednews;

--
-- Name: refresh_token; Type: TABLE; Schema: public; Owner: speednews
--

CREATE TABLE public.refresh_token (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    token_hash character varying(128) NOT NULL,
    family character varying(64) NOT NULL,
    revoked boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    last_used_at timestamp with time zone
);


ALTER TABLE public.refresh_token OWNER TO speednews;

--
-- Name: refresh_token_id_seq; Type: SEQUENCE; Schema: public; Owner: speednews
--

CREATE SEQUENCE public.refresh_token_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.refresh_token_id_seq OWNER TO speednews;

--
-- Name: refresh_token_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: speednews
--

ALTER SEQUENCE public.refresh_token_id_seq OWNED BY public.refresh_token.id;


--
-- Name: role; Type: TABLE; Schema: public; Owner: speednews
--

CREATE TABLE public.role (
    id bigint NOT NULL,
    name character varying(50) NOT NULL
);


ALTER TABLE public.role OWNER TO speednews;

--
-- Name: role_id_seq; Type: SEQUENCE; Schema: public; Owner: speednews
--

CREATE SEQUENCE public.role_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.role_id_seq OWNER TO speednews;

--
-- Name: role_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: speednews
--

ALTER SEQUENCE public.role_id_seq OWNED BY public.role.id;


--
-- Name: user_role; Type: TABLE; Schema: public; Owner: speednews
--

CREATE TABLE public.user_role (
    user_id bigint NOT NULL,
    role_id bigint NOT NULL
);


ALTER TABLE public.user_role OWNER TO speednews;

--
-- Name: app_user id; Type: DEFAULT; Schema: public; Owner: speednews
--

ALTER TABLE ONLY public.app_user ALTER COLUMN id SET DEFAULT nextval('public.app_user_id_seq'::regclass);


--
-- Name: email_verification id; Type: DEFAULT; Schema: public; Owner: speednews
--

ALTER TABLE ONLY public.email_verification ALTER COLUMN id SET DEFAULT nextval('public.email_verification_id_seq'::regclass);


--
-- Name: refresh_token id; Type: DEFAULT; Schema: public; Owner: speednews
--

ALTER TABLE ONLY public.refresh_token ALTER COLUMN id SET DEFAULT nextval('public.refresh_token_id_seq'::regclass);


--
-- Name: role id; Type: DEFAULT; Schema: public; Owner: speednews
--

ALTER TABLE ONLY public.role ALTER COLUMN id SET DEFAULT nextval('public.role_id_seq'::regclass);


--
-- Data for Name: app_user; Type: TABLE DATA; Schema: public; Owner: speednews
--

COPY public.app_user (id, email, password_hash, phone, email_verified, enabled, created_at, updated_at, name) FROM stdin;
1	admin@speednews.kr	$argon2id$v=19$m=65536,t=3,p=1$UEY3ZagqIR9f8A3AXzPPJw$zD6++vHJXEhGgPJDNbz5I7DxE3r4yAXS5M5nzrBnSck	+821012345678	t	t	2025-10-13 13:00:58.135881+00	2025-10-13 13:00:58.135881+00	愿由ъ옄
15	applesusu@naver.com	$argon2id$v=19$m=65536,t=3,p=1$CNFxRqcX7/gHmnMP7ifGQw$mFj3gBZ+OJDM5UWplsOgYH2bTydO/swzQYmj6Bpdjj0	\N	t	t	2025-10-27 05:21:25.708483+00	2025-10-27 06:27:01.118365+00	媛뺤닔??
\.


--
-- Data for Name: email_verification; Type: TABLE DATA; Schema: public; Owner: speednews
--

COPY public.email_verification (id, user_id, token, expires_at, used, created_at, code, verified) FROM stdin;
29	15	eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzcGVlZG5ld3MiLCJzdWIiOiJhcHBsZXN1c3VAbmF2ZXIuY29tIiwidHlwIjoiZW1haWwiLCJpYXQiOjE3NjE1NDMzNDcsImV4cCI6MTc2MTU0NTE0N30.6YG-85kwan_FYx32t9ACu-eqg_9WhVYHpZcu3slHxFY	2025-10-27 06:05:47.891105+00	t	2025-10-27 05:35:47.891105+00	145481	t
\.


--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: speednews
--



--
-- Data for Name: refresh_token; Type: TABLE DATA; Schema: public; Owner: speednews
--



--
-- Data for Name: role; Type: TABLE DATA; Schema: public; Owner: speednews
--

COPY public.role (id, name) FROM stdin;
1	ROLE_USER
2	ROLE_ADMIN
\.


--
-- Data for Name: user_role; Type: TABLE DATA; Schema: public; Owner: speednews
--

COPY public.user_role (user_id, role_id) FROM stdin;
1	2
15	1
\.


--
-- Name: app_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: speednews
--

SELECT pg_catalog.setval('public.app_user_id_seq', 15, true);


--
-- Name: email_verification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: speednews
--

SELECT pg_catalog.setval('public.email_verification_id_seq', 29, true);


--
-- Name: refresh_token_id_seq; Type: SEQUENCE SET; Schema: public; Owner: speednews
--

SELECT pg_catalog.setval('public.refresh_token_id_seq', 36, true);


--
-- Name: role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: speednews
--

SELECT pg_catalog.setval('public.role_id_seq', 2, true);


--
-- Name: app_user app_user_email_key; Type: CONSTRAINT; Schema: public; Owner: speednews
--

ALTER TABLE ONLY public.app_user
    ADD CONSTRAINT app_user_email_key UNIQUE (email);


--
-- Name: app_user app_user_pkey; Type: CONSTRAINT; Schema: public; Owner: speednews
--

ALTER TABLE ONLY public.app_user
    ADD CONSTRAINT app_user_pkey PRIMARY KEY (id);


--
-- Name: email_verification email_verification_pkey; Type: CONSTRAINT; Schema: public; Owner: speednews
--

ALTER TABLE ONLY public.email_verification
    ADD CONSTRAINT email_verification_pkey PRIMARY KEY (id);


--
-- Name: email_verification email_verification_token_key; Type: CONSTRAINT; Schema: public; Owner: speednews
--

ALTER TABLE ONLY public.email_verification
    ADD CONSTRAINT email_verification_token_key UNIQUE (token);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: speednews
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: refresh_token refresh_token_pkey; Type: CONSTRAINT; Schema: public; Owner: speednews
--

ALTER TABLE ONLY public.refresh_token
    ADD CONSTRAINT refresh_token_pkey PRIMARY KEY (id);


--
-- Name: role role_name_key; Type: CONSTRAINT; Schema: public; Owner: speednews
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT role_name_key UNIQUE (name);


--
-- Name: role role_pkey; Type: CONSTRAINT; Schema: public; Owner: speednews
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT role_pkey PRIMARY KEY (id);


--
-- Name: user_role user_role_pkey; Type: CONSTRAINT; Schema: public; Owner: speednews
--

ALTER TABLE ONLY public.user_role
    ADD CONSTRAINT user_role_pkey PRIMARY KEY (user_id, role_id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: speednews
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: email_verification email_verification_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: speednews
--

ALTER TABLE ONLY public.email_verification
    ADD CONSTRAINT email_verification_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.app_user(id) ON DELETE CASCADE;


--
-- Name: refresh_token refresh_token_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: speednews
--

ALTER TABLE ONLY public.refresh_token
    ADD CONSTRAINT refresh_token_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.app_user(id) ON DELETE CASCADE;


--
-- Name: user_role user_role_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: speednews
--

ALTER TABLE ONLY public.user_role
    ADD CONSTRAINT user_role_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.role(id) ON DELETE CASCADE;


--
-- Name: user_role user_role_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: speednews
--

ALTER TABLE ONLY public.user_role
    ADD CONSTRAINT user_role_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.app_user(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict EBcgCJh1fcXZ5xgUrImfGfbKrCdCw2kVrG1CKu1QuIJEaM6pZg9XWtlcwT8plxn

